.backgroundImage {
    position: relative;
    z-index: 0;
    height: 100vh;
    background-image: url("../../Img/배경\ 1.png");
    background-position: center;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 8%;
    border-radius: 1rem;
    position: fixed;
    top: 60px;
    right: 70px;
    background-color: rgb(0, 0, 0, 0.5);
}

.clock_detail {
    font-size: 60px;
    color: white;
    text-align: center;
    padding-bottom: 3%;
}


.my_page_bar {
    width: 400px;
    height: 75px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 65px;
    left: 90px;
}

.my_page_nav {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: none;
    background-color: #9DC4FF;
}

.main_page_ui {
    position: fixed;
    bottom: 70px;
    left: 80px;
    width: 3.5%;
    height: 7%;
    display: flex;
    border-radius: 50%;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../Img/_Open-eye.png');
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: center;
}

.main_page_nav {
    position: fixed;
    bottom: 60px;
    right: 80px;
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_page_nav_noise,
.main_page_nav_people,
.main_page_nav_calendar,
.main_page_nav_todolist,
.main_page_nav_backimg {
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    cursor: pointer;
}

.main_page_nav_noise {
    background-image: url('../../Img/백색소음.png');
}

.main_page_nav_people {
    background-image: url('../../Img/친구.png');
}

.main_page_nav_calendar {
    background-image: url('../../Img/캘린더.png');
}

.main_page_nav_todolist {
    background-size: 45px;
    background-image: url('../../Img/투두리스트.png');
}

.main_page_nav_backimg {
    background-size: 40px;
    background-image: url('../../Img/배경화면.png');
}

.audio_bar {
    position: fixed;
    left: 800px;
    bottom: 100px;
}