.backgroundImage {
    position: relative;
    z-index: 0;
    height: 100vh;
    background-image: url("../../Img/배경\ 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.my_level_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    position: fixed;
    top: 65px;
    left: 90px;
    background-color: #9DC4FF;
    font-weight: bold;
    cursor: default;
}

.main_page_bgm {
    position: fixed;
    bottom: 70px;
    left: 80px;
    background-color: #9DC4FF;
    border-radius: 50%;
    padding: 15px;
}

.main_page_nav {
    position: fixed;
    bottom: 60px;
    right: 80px;
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_page_nav_noise,
.main_page_nav_house,
.main_page_nav_calendar,
.main_page_nav_todolist,
.main_page_nav_backimg {
    width: 55px;
    height: 55px;
    background-color: #9DC4FF;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    cursor: pointer;
}

.main_page_nav_noise {
    background-image: url('../../Img/백색소음.png');
}

.main_page_nav_house {
    background-size: 30px;
    background-image: url('../../Img/꾸미기.png');
}

.main_page_nav_calendar {
    background-image: url('../../Img/캘린더.png');
}

.main_page_nav_todolist {
    background-size: 45px;
    background-image: url('../../Img/투두리스트.png');
}

.main_page_nav_backimg {
    background-size: 40px;
    background-image: url('../../Img/배경화면.png');
}

.main_page_music_bar {
    width: 25%;
    height: 15%;
    position: fixed;
    left: 38%;
    bottom: 80px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url('../../Img/Logo.png');
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}