/* 캐릭터 이미지 */

.img .bg-img {
  width: 550px;
  height: 600px;
  background-image: url(./character.png);
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

/* 캐릭터 정보 레이아웃 위치 */

.character {
  width: 250px;
  height: 40px;
  position: fixed;
  left: 34.1%;
  top: 30%;
}

/* 캐릭터 이름 */

.character .name {
  width: 550px;
  height: 60px;
  font-size: 30px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
